useDynLib(ProbitSpatial, .registration = TRUE)
importFrom(Rcpp,evalCpp)
importFrom("Matrix","Matrix","Diagonal","sparseMatrix","drop0","nnzero")
importFrom("methods", "as", "new", "slot", "slotNames")
importFrom("stats", "binomial", "coef", "constrOptim", "dnorm","fitted", "glm.fit", "model.extract", "model.matrix",
"optim", "optimize", "pchisq", "pnorm", "rnorm", "runif")
exportClasses(ProbitSpatial)
S3method(coef,"ProbitSpatial")
S3method(fitted,"ProbitSpatial")
S3method(names,"ProbitSpatial")
S3method(summary,"ProbitSpatial")
S3method(residuals,"ProbitSpatial")
S3method(predict,"ProbitSpatial")
#export(coef.ProbitSpatial)
export(effects_ProbitSpatial)
#export(fitted.ProbitSpatial)
#export(names.ProbitSpatial)
#export(summary.ProbitSpatial)
#export(predict.ProbitSpatial)
#export(residuals.ProbitSpatial)
export(ProbitSpatialFit)
export(conditional_SARAR_UC)
export(conditional_SARAR_UP)
export(conditional_SAR_UC)
export(conditional_SAR_UP)
export(conditional_SEM_UC)
export(conditional_SEM_UP)
export(effects_ProbitSpatial)
export(generate_W)
export(sim_binomial_probit)
exportClasses(ProbitSpatial)

