import(Matrix)
import(Rcpp)
import(speedglm)
import(RANN)
import(numDeriv)
import(methods)
importFrom("stats", "binomial", "coef", "dnorm", "fitted", "glm",
             "model.extract", "model.matrix", "optim", "optimize",
             "pchisq", "pnorm", "rnorm", "runif", "update.formula")
useDynLib(ProbitSpatial)
S3method(coef,SpatialProbit)
S3method(fitted,SpatialProbit)
S3method(names,SpatialProbit)
S3method(predict,SpatialProbit)
S3method(residuals,SpatialProbit)
S3method(summary,SpatialProbit)
export(SpatialProbitFit)
export(conditional_SAR_UC)
export(conditional_SAR_UP)
export(conditional_SEM_UC)
export(conditional_SEM_UP)
export(effects)
export(generate_W)
export(sim_binomial_probit)
exportClasses(SpatialProbit)
export(coef.SpatialProbit)
export(fitted.SpatialProbit)
export(names.SpatialProbit)
export(predict.SpatialProbit)
export(residuals.SpatialProbit)
export(summary.SpatialProbit)
